<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="/common/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="/common/js/ajax.js"></script>
  <script type="text/javascript" src="/common/js/common_code.js"></script>
  <script type="text/javascript">
      $(function () {
          getSelectCommonCode("spaceNo","/common/spaceInfoList","all");
          getSelectCommonCode("enterUser","/common/userInfoList","all");
          getSelectCommonCode("discountCode","/common/discInfoList","one")
      });
  </script>
</head>
<body>
<form action="/park/parkdataInsert" method="post">
  <div>
    입차일자<input type="text" name="enterDay" placeholder="입차일자">
    입차시간<input type="text" name="enterTime" placeholder="시간단위">
          <input type="text" name="enterMin" placeholder="분단위">
    입차요원
    <select id="enterUser" name="enterUser"></select>
    주차장명
    <select id="spaceNo" name="spaceNo"></select>
  </div>
  <div>
    차량번호<input type="text" name="carNo" placeholder="입차일자">
    사용구획<input type="text" name="spotCount" placeholder="사용구획">
    요원메모<input type="text" name="spotNo" placeholder="구획번호">
    할인유형
    <select id="discountCode" name="discountCode"></select>
  </div>
  <hr>
  <div>
    출차일자<input type="text" name="leaveDay" placeholder="출차일자">
    출차시간<input type="text" name="leaveTime" placeholder="시간단위">
          <input type="text" name="leaveMin" placeholder="분단위">
    출차요원<input type="text" name="leaveUser" placeholder="출차요원">
    출차유형<input type="text" name="leaveType" placeholder="출차유형">
  </div>
  <div>
    영수번호<input type="text" name="recpNo" placeholder="영수번호">
    가산금액<input type="text" name="gasan" placeholder="가산금액">
    절사요금<input type="text" name="cutAmount" placeholder="절사요금">
    이용금액<input type="text" name="origAmount" placeholder="이용금액">
  </div>
  <div>
    카드<input type="text" name="cardAmount" placeholder="카드">
    현금<input type="text" name="cashAmount" placeholder="현금">
    할인금액<input type="text" name="discAmount" placeholder="할인금액">
    청구금액<input type="text" name="saleAmount" placeholder="청구금액">
  </div>
  <div>
    메모	<input type="text" name="remark" placeholder="메모">
    결제금액<input type="text" name="receiveAmount" placeholder="결제금액">
  </div>
  <div>
    가상계좌번호	<input type="text" name="account" placeholder="가상계좌번호">
    가상계좌기한<input type="text" name="payDate" placeholder="가상계좌기한">
    가상계좌금액	<input type="text" name="receiveAmount" placeholder="가상계좌금액">
  </div>
  <div>
    결제방법<input type="text" name="accGubun" placeholder="결제방법">
    결제일<input type="text" name="recpDt" placeholder="결제일">
    고지상태<input type="text" name="gojiState" placeholder="고지상태">
  </div>
  <button type="submit">등록</button>
</form>
</body>
</html>