<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;">
    <meta property="og:image" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--    <link rel="stylesheet" type="text/css" th:href="@{../../styles/jquery-ui.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/jquery.dataTables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/layout.css}">
    <title>MLINK 공영주차</title>
</head>
<body>

<div id="wrap">
    <!-- header //-->
    <div class="header">
        <div class="header-container">
            <h1><a href="#"><img src="/images/logo.png" alt="MLINK 공영주차"></a></h1>
            <div class="nav-wrap">
                <ul>
                    <li><a href="#">유지보수 게시판</a></li>
                    <li><a href="#">미수 차량 관리</a></li>
                </ul>
                <div class="member">
                    <p class="name"><strong>홍길동</strong> 님</p>
                    <p class="time"><span>03:28</span> <a href="#">연장</a></p>
                    <a href="#"><img src="/images/ico_logout.svg" alt="logout" class="btn-logout">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
    <!--// header -->

    <!-- sub-wrap //-->
    <div class="sub-wrap">
        <!-- menu //-->
        <div th:replace="~{/menu/menu.html :: menu}"></div>
        <!--// menu -->
        <!-- content //-->
        <div class="right-wrap">
            <div class="content-wrap">
                <!-- content head //-->
                <div class="content-head">
                    <h3>이용현황</h3>
                    <ul class="linemap">
                        <li><img src="/images/img_home.png" alt=""></li>
                        <li>기본정보</li>
                        <li>이용현황</li>
                    </ul>
                </div>
                <!--// content head -->
                <!-- content body //-->
                <div class="content-body">
                    <div class="con-group">
                        <div class="bs-group-wrap">
                            <div class="bs-group w100p hug" style="display: flex">
                                <div>
                                    <div class="con" style="margin-bottom: 20px">
                                        <p class="tit">차량번호</p>
                                        <input type="text" class="w100p" name="carNo" id="searchCarNo">
                                    </div>
                                    <div class="con">
                                        <p class="tit">주차장명</p>
                                        <select class="w100p" name="spaceNo" id="searchSpaceNo">
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div class="con" style="margin-bottom: 20px">
                                        <p class="tit">기간</p>
                                        <select class="w100p" name="dateType" id="dateType">
                                        </select>&nbsp;&nbsp;&nbsp;
                                        <div><input type="text" class="w100p datepicker searchDate" name="enterDate"
                                                    id="searchEnterDate"></div>&nbsp;&nbsp;
                                        <div><input type="text" class="w100p datepicker searchDate" name="leaveDate" id="searchLeaveDate">
                                        </div>
                                    </div>
                                    <div class="con">
                                        <p class="tit">미수여부</p>
                                        <select class="w34p" name="proceTag" id="searchProceTag">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-black w100" th:onclick="searchStatus()">검색</button>
                        </div>
                    </div>
                    <div class="con-group w100p">
                        <div>
                            <table class="tbl-list" id="data-table">
                                <caption></caption>
                                <thead>
                                <tr>
                                    <th>주차장명</th>
                                    <th>입차일시</th>
                                    <th>출차일시</th>
                                    <th>차량번호</th>
                                    <th>수납일</th>
                                    <th>결제구분</th>
                                    <th>원금액</th>
                                    <th>이용금액</th>
                                    <th>할인금액</th>
                                    <th>가산금</th>
                                    <th>결제금액</th>
                                </tr>
                                </thead>
                                <tbody class="table_body">
                                </tbody>
                            </table>
                            <form action="/park/insert" method="POST">
                                <table class="tbl-list nohover">
                                    <caption></caption>
                                    <colgroup>
                                        <col style="width: 10%;">
                                        <col>
                                        <col style="width: 10%;">
                                        <col>
                                        <col style="width: 10%;">
                                        <col>
                                        <col style="width: 10%;">
                                        <col>
                                    </colgroup>
                                    <tr>
                                        <th>입차일시</th>
                                        <td>
                                            <input type="hidden" name="selectSerial" id="selectSerial">
                                            <input type="text" class="w100p datepicker" name="enterDate" id="enterDate">
                                        </td>
                                        <th>입차시간</th>
                                        <td>
                                            <input type="text" class="w50p datepicker" name="enterHour" id="enterHour"
                                                   value="09">
                                            <input type="text" class="w50p datepicker" name="enterMinute"
                                                   id="enterMinute" value="00">
                                        </td>
                                        <th>입차요원</th>
                                        <td><input type="text" class="w100p" name="enterUser" id="enterUser" value="">
                                        </td>
                                        <th>주차장명</th>
                                        <td><input type="text" class="w100p" name="spaceNm" id="spaceNm" value=""></td>
                                    </tr>
                                    <tr>
                                        <th>차량번호</th>
                                        <td><input type="text" class="w100p" name="carNo" id="carNo" value=""></td>
                                        <th>사용구획</th>
                                        <td><input type="text" class="w100p" name="spotCount" id="spotCount" value="1">
                                        </td>
                                        <th>구획번호</th>
                                        <td><input type="text" class="w100p" name="spotNo" id="spotNo" value="1"></td>
                                        <th>할인유형</th>
                                        <td>
                                            <select class="w100p" id="discountCode" name="discountCode">
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>출차일자</th>
                                        <td>
                                            <input type="text" class="w100p datepicker" name="outDate" id="outDate"
                                                   value="">
                                        </td>
                                        <th>출차시간</th>
                                        <td>
                                            <input type="text" class="w50p datepicker" name="outHour" id="outHour"
                                                   value="">
                                            <input type="text" class="w50p datepicker" name="outMinute" id="outMinute"
                                                   value="">
                                        </td>
                                        <th>출차요원</th>
                                        <td><input type="text" class="w100p" name="leaverUser" id="leaverUser"></td>
                                        <th>출차유형</th>
                                        <td>
                                            <select class="w100p" id="leaveType" name="leaveType"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>영수번호</th>
                                        <td><input type="text" class="w100p" name="recpNo" id="recpNo"></td>
                                        <th>가산금액</th>
                                        <td><input type="text" class="w100p" name="gasan" id="gasan"></td>
                                        <th>절사요금</th>
                                        <td><input type="text" class="w100p" name="cutAmount" id="cutAmount"></td>
                                        <th>원금액</th>
                                        <td><input type="text" class="w100p" name="origAmount" id="origAmount"></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td></td>
                                        <th>할인금액</th>
                                        <td><input type="text" class="w100p" name="discAmount" id="discAmount"></td>
                                        <th>이용금액</th>
                                        <td><input type="text" class="w100p" name="saleAmount" id="saleAmount"></td>
                                        <th>결제금액</th>
                                        <td><input type="text" class="w100p" name="receiveAmount" id="receiveAmount">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>요원메모</th>
                                        <td colspan="3"><input type="text" class="w100p" name="userRemark"
                                                               id="userRemark"></td>
                                        <th>가상계좌번호</th>
                                        <td><input type="text" class="w100p" value="" name="account" id="account"></td>
                                        <th>가상계좌기한</th>
                                        <td><input type="text" class="w100p datepicker" name="payDate" id="payDate"></td>
                                        <!--<th>관리자메모</th>
                                        <td colspan="3"><input type="text" class="w100p" name="remark" id="remark"></td>-->
                                    </tr>
                                    <tr>
                                        <!--<th>가상계좌번호</th>
                                        <td><input type="text" class="w100p" value=""></td>
                                        <th>가상계좌기한</th>
                                        <td><input type="text" class="w100p datepicker" value="2024.01.01"></td>-->
                                        <th>관리자메모</th>
                                        <td colspan="3"><input type="text" class="w100p" name="remark" id="remark"></td>
                                        <th></th>
                                        <td></td>
                                        <th colspan="2" class="right">
                                            <div style="display: flex; justify-content: right">
                                                <button type="button" class="btn btn-blue" poplink="pop1">기한연장</button>&nbsp;
                                                <button type="button" class="btn btn-blue" th:onclick="postBankAccount()">번호재생성</button>&nbsp;
                                                <button type="button" class="btn btn-blue">금액수정</button>&nbsp;
                                                <button type="button" class="btn btn-blue">SMS</button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>결제방법</th>
                                        <td>
                                            <select id="accGubun" name="accGubun"></select>
                                        </td>
                                        <th>결제일</th>
                                        <td><input type="text" class="w100p" name="recpDt" id="recpDt"></td>
                                        <th>고지상태</th>
                                        <td><input type="text" class="w100p" name="gojiState" id="gojiState"></td>
                                        <th></th>
                                        <td>
                                        </td>
                                    </tr>
                                </table>

                                <div class="btn-wrap">
                                    <button type="button" class="btn btn-white">요금자동계산</button>
                                    <button type="submit" class="btn btn-mint">신규</button>
                                    <button type="button" class="btn btn-red" th:onclick="updateStatus()">저장</button>
                                    <button type="button" class="btn btn-gray" id="payBtn">결제</button>
                                    <button type="button" class="btn btn-gray" id="cancelBtn">결제취소</button>
                                    <button type="button" class="btn btn-black" th:onclick="deleteStatus()">삭제</button>
                                </div>

                            </form>
                            <p class="copyright">Ⓒ MlinkKorea.Co.,Ltd. All rights reserved.</p>

                        </div>
                    </div>
                    <!--// content body -->
                </div>
            </div>
            <!--// content -->
        </div>
        <!--// sub-wrap -->
    </div>
</div>
<!--// wrap -->

<script src="/js/jquery-3.3.1.min.js"></script>
<!--<script src="/js/jquery-ui.min.js"></script>-->
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/common_code.js"></script>
<script src="/js/status.js"></script>
<script type="text/javascript" src="/js/ajax.js"></script>
<script>
    $(function () {

        // datatable
        new DataTable('#data-table', {
            paging: false,
            scrollCollapse: true,
            scrollX: '100%',
            scrollY: '250px',
            filter: false,
            info: false
        });

        // table tr 선택
        $(".dataTables_wrapper tr").on("click", function () {
            $(this).siblings("tr").removeClass("active");
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
            } else {
                $(this).addClass("active");
            }
        });

        // modal
        $('[poplink]').on('click', function (e) {
            e.preventDefault();
            $('#' + $(this).attr('poplink')).fadeIn();
        });
        $('.btn-close, .pop-btn-close, .pop-btn-confirm').on('click', function () {
            $(this).parents('.pop').hide();
        });

    });

    $(function () {
        getSelectCommonCode("accGubun", "/common/accInfoList", "misu");
        getSelectCommonCode("leaveType", "/common/leave", "leave");
        getSelectCommonCode("discountCode", "/common/discInfoList", "leave");
        getSelectCommonCode("searchSpaceNo", "/common/spaceInfoList", "all");
        getSelectCommonCode("searchProceTag", "/common/misu", "all");
        getSelectCommonCode("dateType", "/common/date/type", "");
    });

    // 검색 날짜 초기값 오늘 날짜
    // 현재 날짜 가져오기
    let today = new Date();

    // 년-월-일 형식으로 변경
    let year = today.getFullYear();
    let month = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해줍니다.
    let day = String(today.getDate()).padStart(2, '0');

    // 초기값으로 설정
    let dateInputs = document.querySelectorAll('.searchDate');
    dateInputs.forEach(function (input) {
        input.value = year + "-" + month + "-" + day;
    });



</script>
</body>
</html>