<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;">
    <meta property="og:image" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--    <link rel="stylesheet" type="text/css" th:href="@{../../styles/jquery-ui.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/jquery.dataTables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/layout.css}">
    <title>MLINK 공영주차</title>
</head>
<body>

<div id="wrap">
    <!-- header //-->
    <div class="header">
        <div class="header-container">
            <h1><a href="#"><img src="/images/logo.png" alt="MLINK 공영주차"></a></h1>
            <div class="nav-wrap">
                <ul>
                    <li><a href="#">유지보수 게시판</a></li>
                    <li><a href="#">미수 차량 관리</a></li>
                </ul>
                <div class="member">
                    <p class="name"><strong>홍길동</strong> 님</p>
                    <p class="time"><span>03:28</span> <a href="#">연장</a></p>
                    <a href="#"><img src="/images/ico_logout.svg" alt="logout" class="btn-logout">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
    <!--// header -->

    <!-- sub-wrap //-->
    <div class="sub-wrap">
        <!-- menu //-->
        <div th:replace="~{/menu/menu.html :: menu}"></div>
        <!--// menu -->
        <!-- content //-->
        <div class="right-wrap">
            <div class="content-wrap">
                <!-- content head //-->
                <div class="content-head">
                    <h3>이용현황</h3>
                    <ul class="linemap">
                        <li><img src="/images/img_home.png" alt=""></li>
                        <li>기본정보</li>
                        <li>이용현황</li>
                    </ul>
                </div>
                <!--// content head -->
                <!-- content body //-->
                <div class="content-body">
                    <div class="con-group">
                        <div class="bs-group-wrap">
                            <div class="bs-group w100p hug">
                                <div class="con">
                                    <p class="tit">차량번호</p>
                                    <input type="text" class="w100p" name="carNo">
                                </div>
                                <div class="con">
                                    <p class="tit">기간</p>
                                    <div><input type="text" class="w100p datepicker" name="enterDate"
                                                value="2024.01.01"></div>
                                    <div><input type="text" class="w100p datepicker" name="outDate"
                                                value="2024.01.01"></div>
                                </div>
                                <div class="con">
                                    <p class="tit">주차장명</p>
                                    <select class="w100p" name="spaceNm">
                                        <option>전체</option>
                                    </select>
                                </div>
                                <div class="con">
                                    <p class="tit">미수여부</p>
                                    <select class="w100p" name="accGubun">
                                        <option value="1">완납</option>
                                        <option value="0">미납</option>
                                        <option value="9">미납취소(서손처리)</option>
                                    </select>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-black w100">검색</button>
                        </div>
                    </div>
                    <div class="con-group w100p">
                        <div>
                            <div style="height: 300px; overflow: auto">
                                <table class="tbl-list" id="data-table">
                                    <caption></caption>
                                    <thead>
                                    <tr>
                                        <th>주차장명</th>
                                        <th>입차일시</th>
                                        <th>출차일시</th>
                                        <th>차량번호</th>
                                        <th>수납일</th>
                                        <th>결제구분</th>
                                        <th>이용금액</th>
                                        <th>할인금액</th>
                                        <th>가산금</th>
                                        <th>결제금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.size(parkStatusList)} > 0"
                                        th:each="parkStatusList : ${parkStatusList}"
                                        th:onclick="getStatusDetail([[${parkStatusList.serialNo}]])">
                                        <td th:text="${parkStatusList.spaceNm}"></td>
                                        <td th:text="${parkStatusList.enterDate}" ></td>
                                        <td th:text="${parkStatusList.leaveDate}"></td>
                                        <td th:text="${parkStatusList.carNo}"></td>
                                        <td th:text="${parkStatusList.recpDt}"></td>
                                        <td th:text="${parkStatusList.accGubun}"></td>
                                        <td th:text="${parkStatusList.saleAmount}"></td>
                                        <td th:text="${parkStatusList.discAmount}"></td>
                                        <td th:text="${parkStatusList.gasan}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <form action="/park/insert" method="POST">
                                <table class="tbl-list nohover">
                                    <caption></caption>
                                    <colgroup>
                                        <col style="width: 10%;">
                                        <col>
                                        <col style="width: 10%;">
                                        <col>
                                        <col style="width: 10%;">
                                        <col>
                                        <col style="width: 10%;">
                                        <col>
                                    </colgroup>
                                    <tr>
                                        <th>입차일시</th>
                                        <td>
                                            <input type="text" class="w100p datepicker" name="enterDate" id="enterDate">
                                        </td>
                                        <th>입차시간</th>
                                        <td>
                                            <div style="display: flex; justify-content: center">
                                                <input type="text" class="w50 datepicker" name="enterHour" id="enterHour" value="09">시
                                                <input type="text" class="w50 datepicker" name="enterMinute" id="enterMinute" value="00">분
                                            </div>
                                        </td>
                                        <th>입차요원</th>
                                        <td><input type="text" class="w100p" name="enterUser" id="enterUser" value=""></td>
                                        <th>주차장명</th>
                                        <td><input type="text" class="w100p" name="spaceNm" id="spaceNm" value=""></td>
                                    </tr>
                                    <tr>
                                        <th>차량번호</th>
                                        <td><input type="text" class="w100p" name="carNo" id="carNo" value=""></td>
                                        <th>사용구획</th>
                                        <td><input type="text" class="w100p" name="spotCount" id="spotCount" value="1"></td>
                                        <th>구획번호</th>
                                        <td><input type="text" class="w100p" name="spotNo" id="spotNo" value="1"></td>
                                        <th>할인유형</th>
                                        <td>
                                            <select id="discountCode" name="discountCode">
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>출차일자</th>
                                        <td>
                                            <input type="text" class="w100p datepicker" name="outDate" id="outDate" value="">
                                        </td>
                                        <th>출차시간</th>
                                        <td>
                                            <div style="display: flex; justify-content: center">
                                                <input type="text" class="w50p datepicker" name="outHour" id="outHour" value="">시
                                                <input type="text" class="w50p datepicker" name="outMinute" id="outMinute" value="">분
                                            </div>
                                        </td>
                                        <th>출차요원</th>
                                        <td><input type="text" class="w100p" name="leaverUser" id="leaverUser"></td>
                                        <th>출차유형</th>
                                        <td>
                                            <select id="leaveType" name="leaveType" ></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>영수번호</th>
                                        <td><input type="text" class="w100p" name="recpNo" id="recpNo"></td>
                                        <th>가산금액</th>
                                        <td><input type="text" class="w100p" name="gasan" id="gasan"></td>
                                        <th>절사요금</th>
                                        <td><input type="text" class="w100p" name="cutAmount" id="cutAmount"></td>
                                        <th>이용금액</th>
                                        <td><input type="text" class="w100p" name="saleAmount" id="saleAmount"></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td></td>
                                        <th>할인금액</th>
                                        <td><input type="text" class="w100p" name="discAmount" id="discAmount"></td>
                                        <th>청구금액</th>
                                        <td><input type="text" class="w100p" name=""></td>
                                        <th>결제금액</th>
                                        <td><input type="text" class="w100p" name="receiveAmount" id="receiveAmount"></td>
                                    </tr>
                                    <tr>
                                        <th>요원메모</th>
                                        <td colspan="3"><input type="text" class="w100p" name="userRemark" id="userRemark"></td>
                                        <th>관리자메모</th>
                                        <td colspan="3"><input type="text" class="w100p" name="remark" id="remark"></td>
                                    </tr>
                                    <tr>
                                        <th>가상계좌번호</th>
                                        <td><input type="text" class="w100p" value=""></td>
                                        <th>가상계좌기한</th>
                                        <td><input type="text" class="w100p datepicker" value="2024.01.01"></td>
                                        <td colspan="2" class="right">
                                            <div style="display: flex; justify-content: right">
                                                <button type="button" class="btn btn-blue" poplink="pop1">기한연장</button>&nbsp;
                                                <button type="button" class="btn btn-blue">번호재생성</button>&nbsp;
                                                <button type="button" class="btn btn-blue">금액수정</button>&nbsp;
                                                <button type="button" class="btn btn-blue">SMS</button>
                                            </div>
                                        </td>
                                        <th></th>
                                        <td class="right">
                                            <div style="display: flex; justify-content: right">
                                                <button type="button" class="btn btn-gray">신규</button>&nbsp;&nbsp;
                                                <button type="button" class="btn btn-gray">입차</button>&nbsp;&nbsp;
                                                <button type="button" class="btn btn-gray">수정</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>결제방법</th>
                                        <td>
                                            <select id="accGubun" name="accGubun"></select>
                                        </td>
                                        <th>결제일</th>
                                        <td><input type="text" class="w100p" name="recpDt" id="recpDt"></td>
                                        <th>고지상태</th>
                                        <td><input type="text" class="w100p" name="gojiState" id="gojiState"></td>
                                        <th></th>
                                        <td>
                                            <div style="display: flex; justify-content: right">
                                                <button type="button" class="btn btn-gray">요금자동계산</button>&nbsp;&nbsp;
                                                <button type="button" class="btn btn-gray">결제</button>&nbsp;&nbsp;
                                                <button type="button" class="btn btn-gray">삭제</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <div class="btn-wrap">
                                    <button type="submit" class="btn btn-mint">신규</button>
                                    <button type="submit" class="btn btn-red">저장</button>
                                    <button type="submit" class="btn btn-black">삭제</button>
                                </div>

                            </form>
                            <p class="copyright">Ⓒ MlinkKorea.Co.,Ltd. All rights reserved.</p>

                        </div>
                    </div>
                    <!--// content body -->
                </div>
            </div>
            <!--// content -->
        </div>
        <!--// sub-wrap -->
    </div>
</div>
<!--// wrap -->
<script src="/js/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/js/ajax.js"></script>
<!--<script src="/js/jquery-ui.min.js"></script>-->
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/common_code.js"></script>
<script>
    $(function () {

        // datatable
        new DataTable('#data-table', {
            paging: false,
            scrollCollapse: true,
            scrollX: '100%',
            scrollY: '250px',
            filter: false,
            info: false
        });

        // table tr 선택
        $(".dataTables_wrapper tr").on("click", function () {
            $(this).siblings("tr").removeClass("active");
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
            } else {
                $(this).addClass("active");
            }
        });

        // modal
        $('[poplink]').on('click', function (e) {
            e.preventDefault();
            $('#' + $(this).attr('poplink')).fadeIn();
        });
        $('.btn-close, .pop-btn-close, .pop-btn-confirm').on('click', function () {
            $(this).parents('.pop').hide();
        });

    });

    $(function () {
        getSelectCommonCode("accGubun","/common/accInfoList","misu");
        getSelectCommonCode("leaveType","/common/leave","leave");
        getSelectCommonCode("discountCode","/common/discInfoList","leave");
        getStatusDetail("serialNo")
    });

    function getStatusDetail(serialNo) {
        let serial = serialNo;

        $.ajax({
            type: "GET",
            url: `/park/status/`+ serial,
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $("#enterDate").val(result.enterDate.substring(0, 10));
                $("#enterHour").val(result.enterDate.substring(11, 13));
                $("#enterMinute").val(result.enterDate.substring(14, 16));
                $("#enterUser").val(result.enterUser);
                $("#spaceNm").val(result.spaceNm);
                $("#carNo").val(result.carNo);
                $("#spotCount").val(result.spotCount);
                $("#spotNo").val(result.spotNo);
                $("#discountCode").val(result.discountCode);
                $("#outDate").val(result.leaveDate.substring(0, 10));
                $("#outHour").val(result.leaveDate.substring(11, 13));
                $("#outMinute").val(result.leaveDate.substring(14, 16));
                $("#leaverUser").val(result.leaverUser);
                $("#recpNo").val(result.recpNo);
                $("#gasan").val(result.gasan);
                $("#cutAmount").val(result.cutAmount);
                $("#saleAmount").val(result.saleAmount);
                $("#discAmount").val(result.discAmount);
                $("#receiveAmount").val(result.receiveAmount);
                $("#userRemark").val(result.userRemark);
                $("#remark").val(result.remark);
                $("#accGubun").val(result.accGubun);
                $("#recpDt").val(result.recpDt);
                $("#gojiState").val(result.gojiState);
            },
            error: function (err) {
                console.log('에러뜸');
            }
        })
    }
</script>
</body>
</html>