<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/space/spaceInfoInsert" method="post">
  <div>
    <input type="text" name="userNm" placeholder="spaceNm">
  </div>
  <div>
    <input type="text" name="userId" placeholder="spaceSize">
  </div>
  <div>
    <input type="text" name="userPw" placeholder="monthSpace">
  </div>
  <div>
    <input type="text" name="userTel" placeholder="spaceMngType">
  </div>
  <div>
    <input type="text" name="remark" placeholder="address">
  </div>
  <button type="submit">등록</button>
</form>
</body>
</html>