<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link th:href="@{../styles/layout.css}" rel="stylesheet" type="text/css" >
    <title>MLINK 공영주차</title>
</head>
<body>
<form action="/loginAction" method="POST">
<div class="login-wrap">
    <div class="login-box">
        <h1><img src="/images/login_logo.png" alt="MLINK 공영주차"></h1>
        <div class="inp-wrap">
            <input type="text" class="inp-id"  name="userId" id="userId" placeholder="아이디를 입력하세요">
            <input type="password" class="inp-pw" name="userPw" id="userPw" placeholder="비밀번호를 입력하세요">
            <!-- <select class="w100p">
                <option>갈산역</option>
            </select> -->
        </div>
        <button type="submit" class="btn-login" value="로그인" >로그인</button>
    </div>
</div>
</form>
</body>
</html>