<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="/common/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="/common/js/ajax.js"></script>
  <script type="text/javascript" src="/common/js/common_code.js"></script><script type="text/javascript" src="/common/js/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" src="/common/js/ajax.js"></script>
  <script type="text/javascript" src="/common/js/common_code.js"></script>
  <script type="text/javascript">
    $(function () {
      getSelectCommonCode("spaceNo","/common/spaceInfoList","all");
      getSelectCommonCode("enterUser","/common/userInfoList","all");
      getSelectCommonCode("discountCode","/common/discInfoList","one")
    });
  </script>
  <title>Title</title>
</head>
<body>
메인화면

<a href="park/parkdata">글쓰기</a><br/>
<label th:text="${session.loginId}"></label><br/>
<label th:text="${session.loginNm}"></label><br/>
<label th:text="${session.loginSpace}"></label><br/>
<label th:text="${session.loginGrade}"></label><br/>

핸드폰에서 확인해야 함!!<br>
<img src="" id="photoImg" width="100px" height="100px" style="display:none;">
<div>
  입차요원
  <select id="enterUser" name="enterUser"></select>
  주차장명
  <select id="spaceNo" name="spaceNo"></select>
  할인유형
  <select id="discountCode" name="discountCode"></select>
</div>
<!--
    특정확장자만 선택시 : accept=".jpg,.jpeg,.png,.gif,.bmp"
    input file 사용시 여러파일 동시에 선택하기 : <input type="file" multiple>  multiple 만 써 주면 된다.
  -->
<input type="file" name="photoFile" id="photoFile" accept="image/*" capture="camera" style="display:none;">
<br>
<input type="button" value="카메라">
<br>
<div id="result"></div>
</body>
</html>