<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.park.public_gs.mapper.ParkDataMapper" >	<!-- mapper 인터페이스가 위치하는 경로 -->

    <!-- 이용 현황 신규 저장 -->
    <insert id="parkDataInsert" parameterType="org.park.public_gs.vo.ParkDataVo">
        INSERT INTO parkdata
        (serialNo, spaceNo, carNo, enterType, enterDate, enterUser, discountCode, leaveType,
         leaveDate, leaveUser, spotCount, userRemark, spotNo, gasan, discAmount, cutAmount, saleAmount,
         receiveAmount, recpDt, gojiState, remark, insertUser, insertDate, insertIp, del_Tag, chasu)
        VALUES
            (#{serialNo}, #{spaceNo}, #{carNo}, 3, #{enterDate}, #{enterUser}, #{discountCode}, #{leaveType},
             #{leaveDate}, #{leaveUser}, #{spotCount}, #{userRemark}, #{spotNo}, #{gasan}, #{discAmount}, #{cutAmount}, #{saleAmount},
             #{receiveAmount}, #{recpDt}, #{gojiState}, #{remark}, #{insertUser}, now(), #{insertIp}, 0, #{chasu})
    </insert>

    <!-- 이용 현황 검색 -->
    <select id="getParkDataSearchList" parameterType="org.park.public_gs.dto.ParkSearchDto" resultType="org.park.public_gs.dto.ParkStatusDto">
        <bind name="carNo" value="_parameter.getCarNo() != null ? '%' + _parameter.getCarNo() + '%' : null"/>
        <bind name="enterDate" value="_parameter.getEnterDate() != null ? _parameter.getEnterDate() + ' 00:00:00' : null" />
        <bind name="leaveDate" value="_parameter.getLeaveDate() != null ? _parameter.getLeaveDate() + ' 23:59:59' : null" />
        <bind name="type" value="_parameter.getDateType() != null ? _parameter.getDateType().toString : null" />
        SELECT p.serialNo, s.spaceNm, p.enterDate, p.leaveDate, p.carNo, p.recpDt, p.accGubun, p.origAmount, p.saleAmount, p.discAmount, p.gasan
        FROM parkdata p
            JOIN space_info s
                ON p.spaceno = s.spaceNo
        <where>
                <if test="proceTag != null">
                    p.proceTag = #{proceTag}
                </if>
                <if test="carNo != null">
                    AND p.carNo LIKE #{carNo}
                </if>
                <if test="spaceNo != null and spaceNo != ''">
                    AND p.spaceNo = #{spaceNo}
                </if>
                <choose>
                    <when test='type != null and type == "E"'>
                        AND p.enterDate BETWEEN #{enterDate} AND #{leaveDate}
                    </when>
                    <when test='type != null and type == "L"'>
                        AND p.leaveDate BETWEEN #{enterDate} AND #{leaveDate}
                    </when>
                    <when test='type != null and type == "R"'>
                        AND p.recpDt BETWEEN #{enterDate} AND #{leaveDate}
                    </when>
                </choose>

                AND p.del_Tag = '0'
        </where>

    </select>

    <!-- 이용 현황 선택 조회 -->
    <select id="getParkDataDetail" parameterType="String"  resultType="org.park.public_gs.dto.ParkDataDto">
        SELECT p.serialNo, s.spaceNm, p.spotNo, p.carNo, p.enterDate, p.enterUser, p.discountCode, p.leaveType, p.leaveDate,
               p.leaveUser, p.spotCount, p.userRemark, p.gasan, p.discAmount, p.cutAmount, p.saleAmount, p.receiveAmount, p.recpNo,
               p.recpDt, p.remark, p.accGubun, p.gojiState
        FROM parkdata p
                 JOIN space_info s
                      ON p.spaceNo = s.spaceNo
        WHERE p.serialNo = #{serialNo}
            AND p.del_Tag = '0'
    </select>

    <delete id="deleteParkData" parameterType="String">
        DELETE FROM parkdata
        WHERE serialNo = #{serialNo}
    </delete>

</mapper>