<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.park.public_gs.mapper.ParkDataMapper" >	<!-- mapper 인터페이스가 위치하는 경로 -->

    <insert id="parkDataInsert" parameterType="org.park.public_gs.vo.ParkDataVo">
        Insert into user_Info
            (
             spaceNo,
             carNo,
             enterType,
             enterDate,
             enterUser,
             discountCode,
             leaveType,
             leaveDate,
             leaveUser,
             insertIP,
             del_Tag
            )
        values
            (
             #{spaceNm},
             #{spaceSize},
             #{monthSpace},
             #{spaceMngType},
             #{address},
             "cha",
             now(),
             null,
             "0"
            )
    </insert>

    <select id="getParkDataList" resultType="org.park.public_gs.dto.ParkStatusDto">
        SELECT s.spaceNm, p.EnterDate, p.LeaveDate, p.carNo, p.RecpDt, p.accGubun, p.SaleAmount, p.DiscAmount, p.Gasan
        FROM parkdata p
            JOIN space_info s
                ON p.spaceNo = s.spaceNo
    </select>

</mapper>