<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.park.public_gs.mapper.ParkDataMapper" >	<!-- mapper 인터페이스가 위치하는 경로 -->

    <!-- 이용 현황 신규 저장 -->
    <insert id="parkDataInsert" parameterType="org.park.public_gs.vo.ParkDataVo">
        INSERT INTO parkdata
        (serialNo, spaceNo, carNo, enterType, enterDate, enterUser, discountCode, leaveType, leaveDate,
         leaveUser, spotCount, userRemark, spotNo, gasan, discAmount, cutAmount, saleAmount, receiveAmount,
         recpDt, gojiState, remark, insertUser, insertDate, insertIp, del_Tag, chasu, proceTag)
        VALUES
            (#{serialNo}, #{spaceNo}, #{carNo}, 3, #{enterDate}, #{enterUser}, #{discountCode}, #{leaveType}, #{leaveDate},
             #{leaveUser}, #{spotCount}, #{userRemark}, #{spotNo}, #{gasan}, #{discAmount}, #{cutAmount}, #{saleAmount}, #{receiveAmount},
             #{recpDt}, '0', #{remark}, #{insertUser}, now(), #{insertIp}, 0, #{chasu}, 0)
    </insert>

    <!-- 이용 현황 검색 -->
    <select id="getParkDataSearchList" parameterType="org.park.public_gs.dto.ParkSearchDto" resultType="org.park.public_gs.dto.ParkStatusDto">

        <bind name="carNo" value="_parameter.getCarNo() != null ? '%' + _parameter.getCarNo() + '%' : null"/>
        <bind name="enterDate" value="_parameter.getEnterDate() != null ? _parameter.getEnterDate() + ' 00:00:00' : null" />
        <bind name="leaveDate" value="_parameter.getLeaveDate() != null ? _parameter.getLeaveDate() + ' 23:59:59' : null" />
        <bind name="type" value="_parameter.getDateType() != null ? _parameter.getDateType().toString : null" />
        SELECT p.serialNo, s.spaceNm, p.enterDate, p.leaveDate, p.carNo, p.recpDt,
                CASE WHEN (p.proceTag = '0') THEN '미납'
                    WHEN (p.proceTag = '1' AND p.accGubun = '01') THEN '현금'
                    WHEN (p.proceTag = '1' AND p.accGubun = '02') THEN '카드'
                    WHEN (p.proceTag = '1' AND p.accGubun = '03') THEN '무통장'
                    WHEN (p.proceTag = '1' AND p.accGubun = '04') THEN '고지서'
                    WHEN (p.proceTag = '1' AND p.accGubun = '06') THEN '가상계좌'
                END AS accName,
            p.accGubun, p.origAmount, p.saleAmount, p.discAmount, p.gasan, p.receiveAmount
        FROM parkdata p
            INNER JOIN space_info s
                ON p.spaceNo = s.spaceNo
        <where>
                <if test="proceTag != null and proceTag != ''">
                    p.proceTag = #{proceTag}
                </if>
                <if test="carNo != null and carNo != ''">
                    AND p.carNo LIKE #{carNo}
                </if>
                <if test="spaceNo != null and spaceNo != ''">
                    AND p.spaceNo = #{spaceNo}
                </if>
            AND p.del_Tag = '0'
                <choose>
                    <when test='type != null and type == "E"'>
                        AND p.enterDate BETWEEN #{enterDate} AND #{leaveDate}
                    </when>
                    <when test='type != null and type == "L"'>
                        AND p.leaveDate BETWEEN #{enterDate} AND #{leaveDate}
                    </when>
                    <when test='type != null and type == "R"'>
                        AND p.recpDt BETWEEN #{enterDate} AND #{leaveDate}
                    </when>
                </choose>

        </where>

    </select>

    <!-- 이용 현황 선택 조회 -->
    <select id="getParkDataDetail" parameterType="String"  resultType="org.park.public_gs.dto.ParkDataDto">
        SELECT p.serialNo, s.spaceNm, p.spotNo, p.carNo, p.enterDate,
               (SELECT userNm FROM user_info WHERE userId = p.enterUser) enterUser, p.discountCode, p.leaveType, p.leaveDate,
               p.leaveUser, p.spotCount, p.userRemark, p.gasan, p.discAmount, p.cutAmount, p.saleAmount, p.receiveAmount, p.recpNo,
               p.recpDt, p.remark, p.accGubun, p.gojiState, p.proceTag
        FROM parkdata p
            JOIN space_info s
                ON p.spaceNo = s.spaceNo
        WHERE p.serialNo = #{serialNo}
            AND p.del_Tag = '0'
    </select>


    <!--  선택한 이용 현황 수정  -->
    <update id="updateParkData" parameterType="org.park.public_gs.vo.ParkDataVo">
        UPDATE parkdata
            <set>
                <if test="spaceNo != null">spaceNo = #{spaceNo},</if>
                <if test="carNo != null">carNo = #{carNo},</if>
                <if test="enterDate != null">enterDate = #{enterDate},</if>
                <if test="discountCode != null">discountCode = #{discountCode},</if>
                <if test="leaveType != null">leaveType = #{leaveType},</if>
                <if test="leaveDate != null">leaveDate = #{leaveDate},</if>
                <if test="leaveUser != null">leaveUser = #{leaveUser},</if>
                <if test="spotCount != null">spotCount = #{spotCount},</if>
                <if test="userRemark != null">userRemark = #{userRemark},</if>
                <if test="spotNo != null">spotNo = #{spotNo},</if>
                <if test="gasan != null">gasan = #{gasan},</if>
                <if test="discAmount != null">discAmount = #{discAmount},</if>
                <if test="cutAmount != null">cutAmount = #{cutAmount},</if>
                <if test="saleAmount != null">saleAmount = #{saleAmount},</if>
<!--                <if test="receiveAmount != null">receiveAmount = #{receiveAmount},</if>-->
<!--                <if test="recpDt != null">recpDt = #{recpDt},</if>-->
                <if test="remark != null">remark = #{remark},</if>
<!--                <if test="accGubun != null">accGubun = #{accGubun},</if>-->
                <if test="gojiState != null">gojiState = #{gojiState},</if>
                <if test="updateUser != null">updateUser = #{updateUser},</if>
                <if test="updateDate != null">updateDate = now(),</if>
                <if test="updateIp != null">updateIP = #{updateIp},</if>
            </set>
        WHERE serialNo = #{serialNo}
    </update>

    <update id="deleteParkData" parameterType="String" >
        UPDATE parkdata
        <set>
            del_Tag = 9
        </set>
        WHERE serialNo = #{serialNo}
    </update>

    <select id="getParkData" parameterType="String" resultType="org.park.public_gs.vo.ParkDataVo">
        SELECT * FROM parkdata
        WHERE serialNo = #{serialNo};
    </select>

</mapper>